
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table{
    overflow: hidden;
    margin: auto;
    box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.3);
}
td, th{
    border: none;
}
.zoom {
    padding: 2%;
    transition: transform .2s;
    margin: 0 auto;
}    
.zoom:hover {
    transform: scale(1.1);
}
.botao_flutuante{
    position: fixed;
    bottom: 2%;
    margin-left: 2%;
    border: none;
    padding: 15px 20px;
    z-index: 1000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 8%;
  }
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  .gallery img:hover {
    transform: scale(1.05);
  }

  p{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 70px;
    box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.3);
  }
  a{
    text-decoration: none;
    color: inherit;
  }